# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=1d96b0c1-40bd-4764-b047-86bc49e854f2

    # Set to true to disable all reporting
    B:opt-out=false
}


